/*
{{template "gen_header" .}}
*/

#ifndef __ROM_H_H
#define __ROM_H_H

/*
    Below are all symbols found in the binary.
*/

{{range .R.Symbols}}
{{- if .CDefinition}}extern {{.CDefinition}}
{{end -}}
{{end}}

#endif /* __ROM_H_H */
